@font-face {
  font-family: 'NanumSeongSirCe';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumSeongSirCe/NanumSeongSirCe.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumSeongSirCe/NanumSeongSirCe.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/NanumSeongSirCe/NanumSeongSirCe.ttf') format('truetype');
}